In [ ]:
pip install pandas

In [1]:
%load_ext ml_optic

marklogic optic magic loaded.

In [2]:
%%ml_optic?

Docstring:
::

  %ml_optic [-v VARIABLE] [-p PARSER] [connection]

positional arguments:
  connection            connection string; can be empty if set previously.

options:
  -v VARIABLE, --variable VARIABLE
                        output to a var, default is ml_optic
  -p PARSER, --parser PARSER
                        parser, xquery or javascript. default is javascript
File:      ~/.pyenv/versions/syngenta/lib/python3.13/site-packages/ml_optic/magic.py

### Setup a variable we can inject

In [ ]:
ROWS=30

### Full set of parameters setting parser and output var

In [7]:
%%ml_optic op://admin:admin@192.168.1.180:8000  -p xquery -v test
op:from-literals((
            map:entry("group", 1) => map:with("val", 2),
            map:entry("group", 1) => map:with("val", 4),
            map:entry("group", 2) => map:with("val", 3),
            map:entry("group", 2) => map:with("val", 5),
            map:entry("group", 2) => map:with("val", 7)
            ))
    => op:group-by('group', op:avg('valAvg', 'val'))
    => op:order-by('group')
    => op:result()

Returned 2 results in test
test.head() returns:

   group  valAvg
0      1       3
1      2       5

#### Same options different connection

In [4]:
%%ml_optic op://admin:admin@192.168.1.180:8000 
op:from-view("sys", "sys_tables",'')
   => op:result()

Other error: Expecting value: line 1 column 1 (char 0)
No results

#### No options or connection - should all persist

In [ ]:
%%ml_optic
op:from-view("sys", "sys_tables",'')
   => op:result()

#### Change to JS

In [ ]:
%%ml_optic -p javascript
const minRep = 5000;
op.fromView('sys', 'sys_tables','')
  .limit(25)
  .result();

#### Change var

In [ ]:
%%ml_optic -v test2
const minRep = 5000;
op.fromView('sys', 'sys_tables','')
  .limit(25)
  .result();